<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Freddie Reyes</title>

  <!-- Latest compiled and minified CSS -->
  <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600|Titillium+Web:400,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Avenir' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.min.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Your stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.2/css/mdb.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body><nav class="navbar navbar-default navbar-fixed-top navbar-inverse bg-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="brand" href="/"><img id="logo" src="/images/logo.jpg"</a>
        </div>
        {{#if user}}
        <div class="link">
          <a class="linktext" href="/logout">LOGOUT</a>
        </div>
        {{else}}
        <div class="link">
          <a class="linktext" href="/login">LOGIN</a>
        </div>
        {{/if}}
        <div class="menu-button">
          <a href="#" class=" menu dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">≡</a>
          <ul class="dropdown-menu"><br />
              {{#if user}}
              <div class="contain"><a href="/logout"><span class="drop-text">Logout</span></a></div><br />
              {{else}}
              <div class="contain"><a href="/login"><span class="drop-text">Login</span></a></div><br />
              {{/if}}
          </ul>
          <!-- <span class="menu">≡</span> -->
        </div>
      </div>
    </nav>
    <div class="container">
      {{{body}}}
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="/scripts/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.2/js/mdb.min.js"></script>



</body>

</body>
</html>
