<link rel='stylesheet' href='/stylesheets/login.css' />

<div class="pt30 pb40 container">
  {{#if error}}
      {{#each error}}
          <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
          </div>
      {{/each}}
  {{/if}}
  <h3>Congratulations!</h3>
  <p>
    You have successfully created an account. We are sending your COL documents to your inbox.<br>
    Please check your email in a few minutes for further instructions.
  </p>
</div>
