<link rel='stylesheet' href='/stylesheets/home.css' />
<div id="all">
    <p class="title">Welcome!</p>
    <p>Please fill out all our forms to create your account.</p>
    <a href="/form1" class="get-quote"><button>Next</button></a>
</div>
